{% extends 'core/base.html' %}

{% block content %}
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cadastrar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Listar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>

<div class="container">
    <h1>Lista de cursos </h1>
    {% if ultimos_cursos %}
        {% for curso in ultimos_cursos %}        
        <!-- <table class="table table-bordered">
            <thead>
              <tr>
                
                <th scope="col">Descricao</th>
                <th scope="col">Preco</th>
                <th scope="col">Situação</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td><a href="{% url 'core:detalhes' curso.id%}">{{ curso.descricao }}</a></td>
                <td>{{ curso.preco}}</td>
                <td>Pendente</td>
               
              </tr>      
              
              </tr>
            </tbody>
          </table> -->

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'core/images/background.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ curso.descricao }}</h5>
              <p class="card-text">Decricao</p>
              <a href="{% url 'core:detalhes' curso.id%}" class="btn btn-primary">Detalhes</a>
            </div>
          </div>





        {% endfor %}
    
{% else %}
    <p>Nao ha cursoss</p>
{% endif %}

</div>



{% endblock %}